<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="functional Suite">
	<!-- <groups> <run> <include name="bvt"></include> </run> </groups> -->
	<listeners>
		<listener class-name="customListener.Listen"></listener>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
	</listeners>
	<test name="annotations Test">
		<classes>
			<class name="testcases.TestCase1" />

		</classes>
	</test>
	<test name="Assertions Test">
		<classes>

			<class name="testcases.TestCase2" />


		</classes>
	</test>
	<test name="Dependency Test">

		<classes>

			<class name="testcases.TestCase3" />

		</classes>
	</test> <!-- Test -->
	<test name="failures Test">
		<classes>
			<class name="testcases.TestFailures" />

		</classes>
	</test>
</suite> <!-- Suite -->
